/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/

/*
 * This solution works with all modern browsers and Internet Explorer 9+. 
 * If you are interested in purchasing a JavaScript enabler for IE8 
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/

.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
}

.css-treeview
{
    font: normal 12pt helvetica neue, "Segoe UI", Arial, Sans-serif;
    font-weight: 300;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a
{
    color: #00f;
    text-decoration: none;
    padding-left: 15px;
}

.css-treeview a:hover
{
    text-decoration: underline;
}

.css-treeview input[type="checkbox"] + label + ul
{
    margin: 0 0 0 22px;
}

.css-treeview input[type="checkbox"] ~ ul
{
    display: none;
}

.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
}

.css-treeview input[type="checkbox"]:disabled + label
{
    cursor: default;
    opacity: .6;
}

.css-treeview input[type="checkbox"]:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview label,
.css-treeview label::before
{
    background: url("icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.css-treeview label
{
    background-position: 18px 0;
}

.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input[type="checkbox"]:checked + label::before
{
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}

/* Addons */
.css-treeview {
  border: 0;
  width: 25%;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
}

.css-treeview ul:first-child {
  margin: 5px !important;
}

.content-frame {
  border: 0;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
  top: 0;
  left: 25%;
  width: 75%;
  position: fixed;
}
